<fleet-navigation-bar (toggleSidenav)="navigationSidenav.toggle()"></fleet-navigation-bar>

<mat-sidenav-container autosize>
  <mat-sidenav #navigationSidenav mode="over" role="navigation">

    <mat-toolbar>
      <mat-toolbar-row>
        <h2 class="toolbar-title">Titulo?</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <ng-container *ngIf="true">
        <h2 matSubheader>Car Manager</h2>

        <a mat-list-item routerLinkActive="list-item-active">
          <mat-icon matListIcon class="nav-list-icon">add</mat-icon>
          New
        </a>

      </ng-container>
    </mat-nav-list>

  </mat-sidenav>
</mat-sidenav-container>
